'use strict'

// Override default.js
module.exports = {
  nodeHttpUrl: '__DEV_URL__',
  contract: '__DEV_CONTRACT__',
  kycApiUrl: '__KYC_URL__',

  cosign: {
    duelAuth: {
      contract: '__CONTRACT__',
      permission: '__PERMISSION__',
      pKey: '__DEV_COSIGN_KEY__'
    },
    duelActions: {
      contract: '__CONTRACT__',
      permission: '__PERMISSION__',
      pKey: '__DEV_COSIGN_KEY__'
    }
  },

  hcaptcha: {
    enabled: true,
    secret: '__SECRET__'
  },

  dbUsers: {
    dbName: 'trades',
    mongoUrl: 'mongodb://localhost:27017',
    collectionHistory: 'priv_history'
  },

  cfHeaders: {
    'CF-Access-Client-Id': '__HEADER_VALUE__',
    'CF-Access-Client-Secret': '__HEADER_VALUE__'
  }
}
