{
  "port": 8181,
  "socket": null,
  "retryAfter": 500,

  "requestTimeout": 20,
  "maxResults": 1000,

  "cors": {
    "Access-Control-Allow-Origin": "*",
    "Access-Control-Allow-Headers": "x-csrf-token, Content-Type, Authorization, Content-Length, X-Requested-With"
  },

  "tosCurrent": 1,
  "tosCurrentDate": "2019-07-24",
  "tosAvailable": [ 1 ],

  "sunbeam": {
    "url": "ws://INSERT_WS_ENDPOINT",
    "moonbeam": null,
    "eos": {
      "expireInSeconds": 3600,
      "httpEndpoint": "http://INSERT_HTTP_ENDPOINT",
      "auth": {
        "keys": {
          "keyProvider": ["NO_KEY_NEEDED_LEAVE_AS_IS"],
          "account": "nouserneeded",
          "permission": "@sunbeam"
        },
        "scatter": null
      }
    },
    "transform": {
      "orderbook": { "keyed": true },
      "wallet": {},
      "orders": { "keyed": true }
    }
  },

  "faucet": {
    "keyProvider": ["FAUCET_BOT_KEY"],
    "account": "faucetuser",
    "httpEndpoint": "http://INSERT_HTTP_ENDPOINT",
    "contract": "foo_faucet",

    "action": "faucet",
    "score": 0.5,
    "sitekey": "",
    "sitesecret": "",
    "version": "v3",

    "hcaptcha": {
      "__IF_SITESECRET_NOT_SET_ROUTE_IS_NOT_LOADED": "",
      "sitekey": "",
      "sitesecret": ""
    }
  }
}
