{
  "port": 8181,
  "socket": null,
  "retryAfter": 500,

  "requestTimeout": 20,
  "maxResults": 1000,

  "cors": {
    "Access-Control-Allow-Origin": "*",
    "Access-Control-Allow-Headers": "x-csrf-token, Content-Type, Authorization, Content-Length, X-Requested-With"
  },

  "tosCurrent": 1,
  "tosCurrentDate": "2019-07-24",
  "tosAvailable": [ 1 ],

  "verifyTxMain": {
    "httpEndpoint": "http://INSERT_MAINNET_HTTP_ENDPOINT",
    "contract": "testfaucet11"
  },

  "cosign": {
    "httpEndpoint": "http://INSERT_MAINNET_HTTP_ENDPOINT",
    "account": "__ACCOUNT__",
    "pKey": "__EXCHANGE_ACC_PRIVKEY__"
  },

  "hcaptcha": {
    "enabled": false,
    "endpoint": "https://hcaptcha.com/siteverify",
    "secret": "__SECRET__"
  },

  "sunbeam": {
    "urls": {
      "aux": "ws://INSERT_WS_ENDPOINT"
    },
    "moonbeam": null,
    "eos": {
      "expireInSeconds": 3600,
      "httpEndpoint": "http://INSERT_HTTP_ENDPOINT",
      "auth": {
        "keys": {
          "keyProvider": ["NO_KEY_NEEDED_LEAVE_AS_IS"],
          "account": "nouserneeded",
          "permission": "@sunbeam"
        },
        "scatter": null
      }
    },
    "transform": {
      "orderbook": { "keyed": true },
      "wallet": {},
      "orders": { "keyed": true }
    }
  }
}
